# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight KHcoin Client
Exec=electrum-ltc %u
GenericName[en_US]=KHcoin Wallet
GenericName=KHcoin Wallet
Icon=electrum-ltc
Name[en_US]=Electrum KHcoin Wallet
Name=Electrum KHcoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/khcoin;

